<html lang="ko" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
	</head>

	<body>
		<!-- jsp@include file="haeder_nav.html" -->
		<header th:insert="header_nav.html"></header>
		<!-- request.getAttribute("test") -->
		<h1>카테고리리스트 pageableList</h1>
		<form action="/member/list/1">
			<div class="input-group">
			  <select name="sort" class="form-select" id="inputGroupSelect04" aria-label="Example select with button addon">
			    <option selected>정렬할 칼럼</option>
			    <option value="id">id</option>
			    <option value="name">name</option>
			    <option value="regdate">regdate</option>
			  </select>
			  <select name="desc" class="form-select" id="inputGroupSelect04" aria-label="Example select with button addon">
			    <option selected>정렬순서</option>
			    <option value="desc">큰거부터(desc)</option>
			    <option value="asc">작은거부터(asc)</option>
			  </select >
			  <button class="btn btn-outline-primary" type="submit">Button</button>
			</div>
		</form>
		<table class="table">
			<thead>
				<tr>
					<th>id</th>
					<th>name</th>
					<th>regdate</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="member:${memberList}">
					<td th:text="${member.id}"></td>
					<td th:text="${member.name}"></td>
					<td th:text="${member.regdate}"></td>					
				</tr>
			</tbody>
		</table>	
		<p>
			totalPage: <strong th:text="${memberList.totalPages}"></strong>
			newPage: <strong th:text="${memberList.number+1}"></strong>
			hasNext: <strong th:text="${memberList.hasNext}"></strong>
			hasPrev: <strong th:text="${memberList.hasPrevious}"></strong>
		</p>
		pageStart pageEnd pageNow
		<div th:with="totalPages=${memberList.totalPages}, nowPage=${memberList.number+1}, 
						hasNext=${memberList.hasNext}, hasPrev=${cateList.hasPrevious},
						startPage=${((nowPage-2)<=0)?1:nowPage-2},
						endPage=${((nowPage+2)>=totalPages)?totalPages:nowPage+2}">
			<nav th:insert="/pagination.html"></nav>
		</div>
	</body>
</html>