<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
</head>
<style>
#memDivHeader{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: baseline;
    height: 50px;
}
.memHeaderEl{
    display:flex; 
}
th, td {
   vertical-align:middle;
}
</style>
<body>
	<!-- jsp@include file="haeder_nav.html" -->
	<header th:insert="header_nav.html"></header>
	<!-- request.getAttribute("test") -->
	<h1>회원 목록</h1>
	<div id="memDivHeader" class="container-fluid">
           <div class="memHeaderEl">
               <form action="/member/list.do/1">
                   <div class="input-group">
                     <select name="sort" class="form-select" id="inputGroupSelect04" aria-label="Example select with button addon">
                       <option selected>정렬할 칼럼</option>
                       <option value="id">id</option>
                       <option value="name">name</option>
                       <option value="age">age</option>
                       <option value="gender">gender</option>
                       <option value="regdate">regdate</option>
                       <option value="grade">grade</option>
                     </select>
                     <select name="desc" class="form-select" id="inputGroupSelect04" aria-label="Example select with button addon">
                       <option selected>정렬순서</option>
                       <option value="desc">큰거부터(desc)</option>
                       <option value="asc">작은거부터(asc)</option>
                     </select >
                     <button class="btn btn-outline-primary" type="submit">정렬</button>
                   </div>
               </form>
           </div>
           <div class="memHeaderEl">
                   <button type="button" onclick="location.href='../signup.do'" class="btn btn-outline-dark navbar-brand">회원 등록</button>
           </div>
           <div class="memHeaderEl">
               <form class="d-flex">
                     <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" value="미구현">
                     <button class="btn btn-outline-success" type="submit"> Search</button>
               </form>
           </div>
       </div>
	<table class="table">
		<thead>
			<tr>
				<th>id</th>
				<th>name</th>
				<th>email</th>
				<th>phone</th>
				<th>age</th>
				<th>gender</th>
				<th>regdate</th>
				<th>grade</th>
				<th>수정</th>
				<th>삭제</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="member:${memberList}">
				<td th:text="${member.id}"></td>
				<td th:text="${member.name}"></td>
				<td th:text="${member.email}"></td>
				<td th:text="${member.phone}"></td>
				<td th:text="${member.age}"></td>
				<td th:text="${member.gender}"></td>
				<td th:text="${member.regdate}"></td>	
				
				<td th:if="${member.grade}==0" th:text="Super_Admin"></td>	
				<td th:if="${member.grade}==1" th:text="Admin"></td>
				<td th:if="${member.grade}==2" th:text="User"></td>
				<td>
                     <form action="/member/update.do" method="GET">
                         <input type="hidden" name="id" th:value="${member.id}">
                         <button class="btn btn-outline-primary" type="submit">수정</button>
                     </form>
                 </td>
                 <td>
                     <form action="/member/delete.do" method="POST">
                        <div class="input-group mb-3">
                          <input type="hidden" name="id" th:value="${member.id}">
                          <button class="form-control btn btn-outline-danger">삭제</button>
                        </div>
                    </form>
                </td>
									
			</tr>
		</tbody>
	</table>	
	<div th:with="totalPages=${memberList.totalPages}, nowPage=${memberList.number+1}, 
					hasNext=${memberList.hasNext}, hasPrev=${memberList.hasPrevious},
					startPage=${((nowPage-2)<=0)?1:nowPage-2},
					endPage=${((nowPage+2)>=totalPages)?totalPages:nowPage+2}">
		<nav th:insert="pagination.html"></nav>
	</div>
</body>
</html>