<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<style>
body{
background: #808080 !important;
}
main{
	display: flex;
}
.inputdata{
	margin:10px !important;
	padding : 5px;
	border: 1px solid #000;
	border-radius: 5px;
	height: 600px;
	display:flex;
	justify-content: center;
}
.signup-el{
	margin:10px;
	width:100%;
}
.resultGraph{
	margin:10px !important;
	padding : 5px;
	border: 1px solid #000;
	border-radius: 5px;
	width:800px;
}
/* @media (max-width:1050px) {
    main{
        flex-direction: column;
    }
} */
/* main{
	display:flex;
} */
</style>
<body>
	<!-- 상단 메뉴바 -->
	<header th:insert="header_nav.html"></header>
	<main>	
		<div class="inputdata container alert alert-light" style="max-width:600px;">
			<form name="predictForm" action="/service/test1.do" method="post">
			<h2 style="text-align: center;">입력 폼</h2>
				<div class="input-team d-flex">
					<div class="red-div d-flex flex-column">
						<h2 style="color:red; text-align: center;">레드팀</h2>
						<div class="signup-el">
							<label for="reddata1">챔피언:</label>
							<select id="reddata1" size="1" name="reddata1">
								<option th:each="ch:${chList}" th:value="${ch.code}" th:text="${ch.name}"></option>
							</select>
						</div>
						<div class="signup-el">
							<label for="reddata2">챔피언:</label>
							<select id="reddata2" size="1" name="reddata2">
								<option th:each="ch:${chList}" th:value="${ch.code}" th:text="${ch.name}"></option>
							</select>
						</div>
						<div class="signup-el">
							<label for="reddata3">챔피언:</label>
							<select id="reddata3" size="1" name="reddata3">
								<option th:each="ch:${chList}" th:value="${ch.code}" th:text="${ch.name}"></option>
							</select>
						</div>
						<div class="signup-el">
							<label for="reddata4">챔피언:</label>
							<select id="reddata4" size="1" name="reddata4">
								<option th:each="ch:${chList}" th:value="${ch.code}" th:text="${ch.name}"></option>
							</select>
						</div>
						<div class="signup-el">
							<label for="reddata5">챔피언:</label>
							<select id="reddata5" size="1" name="reddata5">
								<option th:each="ch:${chList}" th:value="${ch.code}" th:text="${ch.name}"></option>
							</select>
						</div>
					</div>
					<div class="blue-div  d-flex flex-column">
						<h2 style="color:blue; text-align: center;">블루팀</h2>
						<div class="signup-el">
							<label for="bluedata1">챔피언:</label>
							<select id="bluedata1" size="1" name="bluedata1">
								<option th:each="ch:${chList}" th:value="${ch.code}" th:text="${ch.name}"></option>
							</select>
						</div>
						<div class="signup-el">
							<label for="bluedata2">챔피언:</label>
							<select id="bluedata2" size="1" name="bluedata2">
								<option th:each="ch:${chList}" th:value="${ch.code}" th:text="${ch.name}"></option>
							</select>
						</div>
						<div class="signup-el">
							<label for="bluedata3">챔피언:</label>
							<select id="bluedata3" size="1" name="bluedata3">
								<option th:each="ch:${chList}" th:value="${ch.code}" th:text="${ch.name}"></option>
							</select>
						</div>
						<div class="signup-el">
							<label for="bluedata4">챔피언:</label>
							<select id="bluedata4" size="1" name="bluedata4">
								<option th:each="ch:${chList}" th:value="${ch.code}" th:text="${ch.name}"></option>
							</select>
						</div>
						<div class="signup-el">
							<label for="bluedata5">챔피언:</label>
							<select id="bluedata5" size="1" name="bluedata5">
								<option th:each="ch:${chList}" th:value="${ch.code}" th:text="${ch.name}"></option>
							</select>
						</div>
					</div>
				</div>
				<!-- 아래두 좀 변경 -->
				<div class="group-btn d-flex justify-content-around">
					<button id="predictBtn" class="btn btn-primary" type="submit">예측하기</button>
					<button class="btn btn-primary" type="button" onclick="history.back()">뒤로가기</button>
				</div>
			</form>
		</div>
		<div class="resultGraph container alert alert-light d-flex">
			<div class="d-flex flex-column" style="width:500px;">
				<h2>- 레드팀의 승리 예측 -</h2>
				<span th:text="${predresult}"></span>
			</div>	
			<table class="table table-striped" style="width: 600px;">
				<thead>
					<th colspan="2"class="table-danger" style="font-size:25px;">레드팀</th>
				</thead>
				<tbody>
					<tr th:each="chDto,chDtoStat:${chDtoList}" th:if="${chDtoStat.index}<5">
						<td th:if="${chDtoStat.index}<5" style="width:137px;">
							<img th:if="${chDtoStat.index}<5" th:alt="${chDto.name}" th:src="${chDto.cImg}">
						</td>				
						<td th:if="${chDtoStat.index}<5" th:text="${chDto.getName()}" style="display:table-cell;vertical-align: middle;text-align: center;font-size: 25px;"></td>
					</tr>
				</tbody>
			</table>
			<table class="table table-striped" style="width: 600px;">
				<thead>
					<th colspan="2" class="table-primary" style="font-size:25px;">블루팀</th>
				</thead>
				<tbody>
					<tr th:each="chDto,chDtoStat:${chDtoList}" th:unless="${chDtoStat.index}<5">
						<td th:unless="${chDtoStat.index}<5" style="width:137px;">
							<img th:unless="${chDtoStat.index}<5" th:alt="${chDto.name}" th:src="${chDto.cImg}">
						</td>	
						<td th:unless="${chDtoStat.index}<5" th:text="${chDto.getName()}" style="display:table-cell;vertical-align: middle;text-align: center;font-size: 25px;"></td>
					</tr>
				</tbody>
			</table>		
		</div>
	</main>
</body>
</html>