<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
	<link rel="icon" href="/public/img/favicon.png" type="image/x-icon">
	<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>
	<script src="https://cdn.jsdelivr.net/gh/emn178/chartjs-plugin-labels/src/chartjs-plugin-labels.js"></script>
</head>
<style>
body{
background: #808080 !important;
}
main{
	display: flex;
}
.inputdata{
	margin:0px 0px 10px 0px !important;
	padding : 5px;
	border: 1px solid #000;
	border-radius: 5px;
	height: 600px;
	display:flex;
	justify-content: center;
}
.signup-el{
	margin:10px;
	width:100%;
}
.resultGraph{
	margin:10px !important;
	padding : 5px;
	border: 1px solid #000;
	border-radius: 5px;
}
.resultdiv{
	margin:10px !important;
	width:800px;

}
/* @media (max-width:1050px) {
    main{
        flex-direction: column;
    }
} */
/* main{
	display:flex;
} */
</style>
<body>
	<!-- 상단 메뉴바 -->
	<header th:insert="header_nav.html"></header>
	<main>	
		<div class="resultdiv">
			<div class="inputdata container alert alert-light" style="max-width:500px; min-width:500px; height:100%;">
				<form name="predictForm" action="/service/test1.do" method="post">
				<h2 style="text-align: center;">입력 폼</h2>
					<div class="input-team d-flex">
						<div class="red-div d-flex flex-column">
							<h2 style="color:red; text-align: center;">레드팀</h2>
							<div class="signup-el">
								<label for="reddata1">챔피언:</label>
								<select id="reddata1" size="1" name="reddata1">
									<option th:each="ch:${chList}" th:value="${ch.code}" th:text="${ch.name}"></option>
								</select>
							</div>
							<div class="signup-el">
								<label for="reddata2">챔피언:</label>
								<select id="reddata2" size="1" name="reddata2">
									<option th:each="ch:${chList}" th:value="${ch.code}" th:text="${ch.name}"></option>
								</select>
							</div>
							<div class="signup-el">
								<label for="reddata3">챔피언:</label>
								<select id="reddata3" size="1" name="reddata3">
									<option th:each="ch:${chList}" th:value="${ch.code}" th:text="${ch.name}"></option>
								</select>
							</div>
							<div class="signup-el">
								<label for="reddata4">챔피언:</label>
								<select id="reddata4" size="1" name="reddata4">
									<option th:each="ch:${chList}" th:value="${ch.code}" th:text="${ch.name}"></option>
								</select>
							</div>
							<div class="signup-el">
								<label for="reddata5">챔피언:</label>
								<select id="reddata5" size="1" name="reddata5">
									<option th:each="ch:${chList}" th:value="${ch.code}" th:text="${ch.name}"></option>
								</select>
							</div>
						</div>
						<div class="blue-div  d-flex flex-column">
							<h2 style="color:blue; text-align: center;">블루팀</h2>
							<div class="signup-el">
								<label for="bluedata1">챔피언:</label>
								<select id="bluedata1" size="1" name="bluedata1">
									<option th:each="ch:${chList}" th:value="${ch.code}" th:text="${ch.name}"></option>
								</select>
							</div>
							<div class="signup-el">
								<label for="bluedata2">챔피언:</label>
								<select id="bluedata2" size="1" name="bluedata2">
									<option th:each="ch:${chList}" th:value="${ch.code}" th:text="${ch.name}"></option>
								</select>
							</div>
							<div class="signup-el">
								<label for="bluedata3">챔피언:</label>
								<select id="bluedata3" size="1" name="bluedata3">
									<option th:each="ch:${chList}" th:value="${ch.code}" th:text="${ch.name}"></option>
								</select>
							</div>
							<div class="signup-el">
								<label for="bluedata4">챔피언:</label>
								<select id="bluedata4" size="1" name="bluedata4">
									<option th:each="ch:${chList}" th:value="${ch.code}" th:text="${ch.name}"></option>
								</select>
							</div>
							<div class="signup-el">
								<label for="bluedata5">챔피언:</label>
								<select id="bluedata5" size="1" name="bluedata5">
									<option th:each="ch:${chList}" th:value="${ch.code}" th:text="${ch.name}"></option>
								</select>
							</div>
						</div>
					</div>
					<!-- 아래두 좀 변경 -->
					<div class="group-btn d-flex justify-content-around">
						<button id="predictBtn" class="btn btn-primary" type="submit">예측하기</button>
						<button class="btn btn-primary" type="button" onclick="history.back()">뒤로가기</button>
					</div>
				</form>
			</div>

		</div>
		<div class="resultGraph container alert alert-light d-flex">
			<div class="d-flex flex-column">
				<h2 style="text-align:center"> 승리 예측 </h2>	
				<h3 style="text-align:center">레드팀의 승률</h3>
				<span  th:text="'결과 : ' +${resultsub}+'%'" style="text-align:center; font-weight:900; color:#ff0055;"></span>
				<span th:text="${predresult}" style="text-align:center; color:#ffb1cb;"></span>
				
				<span style="text-align:center"></span>
				<div>
					<canvas id="pieChart" style="width:300px;height:500px;"></canvas>	
				</div>		
			</div>	
			<table class="table table-striped">
				<thead>
					<th colspan="2" class="table-danger" style="font-size:25px;">레드팀</th>
				</thead>
				<tbody>
					<tr th:each="chDto,chDtoStat:${chDtoList}" th:unless="${chDtoStat.index}<5">
						<td th:unless="${chDtoStat.index}<5" style="width:137px;">
							<img th:unless="${chDtoStat.index}<5" th:alt="${chDto.name}" th:src="${chDto.cImg}">
						</td>	
						<td th:unless="${chDtoStat.index}<5" th:text="${chDto.getName()}" style="display:table-cell;vertical-align: middle;text-align: center;font-size: 25px;"></td>
					</tr>
				</tbody>
			</table>
			<table class="table table-striped">
				<thead>
					<th colspan="2" class="table-primary" style="font-size:25px;">블루팀</th>
				</thead>
				<tbody>
					<tr th:each="chDto,chDtoStat:${chDtoList}" th:if="${chDtoStat.index}<5">
						<td th:if="${chDtoStat.index}<5" style="width:137px;">
							<img th:if="${chDtoStat.index}<5" th:alt="${chDto.name}" th:src="${chDto.cImg}">
						</td>				
						<td th:if="${chDtoStat.index}<5" th:text="${chDto.getName()}" style="display:table-cell;vertical-align: middle;text-align: center;font-size: 25px;"></td>
					</tr>
				</tbody>
			</table>		
		</div>
	</main>
	<footer>
		<div class="resultGraph container alert alert-light d-flex flex-column">
			<h3>최근 예측 이력</h3>
			<div class="d-flex justify-content-around">
				<div>
				아이디 : <p th:text="${prePred.id}"></p>
				</div>
				<div>
				날짜 : <p th:text="${prePred.regdate}"></p>
				</div>
				<div>
				예측값 : <p th:text="${prePred.result}"></p>
				</div>
			</div>
 			<table class="table">
				<thead>
					<tr>
						<th>id</th>
						<th>챔피언</th>
						<th>챔피언</th>
						<th>챔피언</th>
						<th>챔피언</th>
						<th>챔피언</th>
					</tr>
				</thead>
				<tbody>
					<tr class="table-danger">
						<td>레드팀</td>
						<td th:each="entitis, index:${prePred.PredDetail}" th:if="${index.index}>4" th:text="${entitis.champion?.Name}"></td>
					</tr>
					<tr class="table-primary">
						<td>블루팀</td>
						<td th:each="entitis, index:${prePred.PredDetail}" th:unless="${index.index}>4" th:text="${entitis.champion?.Name}"></td>
					</tr>		
				</tbody>
			</table>
		</div>
	</footer>
</body>
<script th:inline="javascript">
/*<![CDATA[*/
var rttrresult= /*[[${predresult}]]*/
/*]]>*/
console.log(rttrresult);
var dataset = {
	    label: "승패 여부",
	    backgroundColor: ['#f8d6db', '#cde1ff'],//라벨별 컬러설정
	    borderColor: '#22252B',
	    data: [rttrresult, (1-rttrresult)]
	}

var labels=['레드팀','블루팀']; 
  
var datasets={ datasets:[dataset], labels:labels };

var config = {
	    type: 'pie',
	    data: datasets, //데이터 셋 
	    options: {
	        responsive: true,
	        maintainAspectRatio: false, //true 하게 되면 캔버스 width,height에 따라 리사이징된다.
	        legend: {
	            position: 'top',
	            fontColor: 'black',
	            align: 'center',
	            display: true,
	            fullWidth: true,
	            labels: {
	                fontColor: 'rgb(0, 0, 0)'
	            }
	        },
	        plugins: {
	            labels: {//두번째 script태그를 설정하면 각 항목에다가 원하는 데이터 라벨링을 할 수 있다.
	                render: 'value',
	                fontColor: 'black',
	                fontSize: 15,
	                precision: 2
	            }

	        }
	    }
	}
var canvas=document.getElementById('pieChart');
var pieChart = new Chart(canvas,config);
	
</script>
</html>