<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<style>
body{
background: #808080 !important;
}
.inputdata{
	margin:10px !important;
	padding : 5px;
	border: 1px solid #000;
	border-radius: 5px;
	height: 600px;
	display:flex;
	justify-content: center;
}
.signup-el{
	margin:10px;
	width:100%;
}
.resultGraph{
	margin:10px !important;
	padding : 5px;
	border: 1px solid #000;
	border-radius: 5px;
	width:800px;
}
/* @media (max-width:1050px) {
    main{
        flex-direction: column;
    }
} */
/* main{
	display:flex;
} */
</style>
<body>
	<!-- 상단 메뉴바 -->
	<header th:insert="header_nav.html"></header>
	<main>
		<div class="inputdata container alert alert-light">
			<form name="predictForm" action="/service/test1.do" method="post">
			<h2 style="text-align: center;">입력 폼</h2>
				<div class="input-team d-flex">
					<div class="red-div d-flex flex-column">
						<h2 style="color:red; text-align: center;">레드팀</h2>
						<div class="signup-el">
							<label for="reddata1">챔피언:</label>
							<input id="reddata1" type="text" name="reddata1" value="1" placeholder="데이터">
						</div>
						<div class="signup-el">
							<label for="reddata2">챔피언:</label>
							<input id="reddata2" type="text" name="reddata2" value="2" placeholder="데이터">
						</div>
						<div class="signup-el">
							<label for="reddata3">챔피언:</label>
							<input id="reddata3" type="text" name="reddata3" value="3" placeholder="데이터">
						</div>
						<div class="signup-el">
							<label for="reddata4">챔피언:</label>
							<input id="reddata4" type="text" name="reddata4" value="4" placeholder="데이터">
						</div>
						<div class="signup-el">
							<label for="reddata5">챔피언:</label>
							<input id="reddata5" type="text" name="reddata5" value="5" placeholder="데이터">
						</div>
					</div>
					<div class="blue-div  d-flex flex-column">
						<h2 style="color:blue; text-align: center;">블루팀</h2>
						<div class="signup-el">
							<label for="bluedata1">챔피언:</label>
							<input id="bluedata1" type="text" name="bluedata1" value="6" placeholder="데이터">
						</div>
						<div class="signup-el">
							<label for="bluedata2">챔피언:</label>
							<input id="bluedata2" type="text" name="bluedata2" value="7" placeholder="데이터">
						</div>
						<div class="signup-el">
							<label for="bluedata3">챔피언:</label>
							<input id="bluedata3" type="text" name="bluedata3" value="8" placeholder="데이터">
						</div>
						<div class="signup-el">
							<label for="bluedata4">챔피언:</label>
							<input id="bluedata4" type="text" name="bluedata4" value="9" placeholder="데이터">
						</div>
						<div class="signup-el">
							<label for="bluedata5">챔피언:</label>
							<input id="bluedata5" type="text" name="bluedata5" value="10" placeholder="데이터">
						</div>
					</div>
				</div>
				<!-- 아래두 좀 변경 -->
				<div class="group-btn d-flex justify-content-around">
					<input id="predresult" type="text" name="predresult" value="" placeholder="예측결과">
					<button id="predictBtn" class="btn btn-primary" type="submit">예측하기</button>
					<button class="btn btn-primary" type="button" onclick="history.back()">뒤로가기</button>
				</div>
			</form>
		</div>
		<div th:each="ch:${chList}">
			<p th:text="${ch.name}"></p>
		</div>
		
		<div class="resultGraph container alert alert-light">	
			<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>	
			<h5 style="text-align: center;">승률 측정</h5>
			<canvas id="radar-chart" style="width:600px; height:400px;"></canvas>
		</div>
		
		<div class="resultGraph container alert alert-light">	
			<h5 style="text-align: center;">유저별 그래프</h5>
			<canvas id="logNameChart" style="width: 600px; height: 400px;"></canvas>	
		</div>
	</main>

</body>
<script type="text/javascript">
new Chart(document.getElementById("radar-chart"), {
    type: 'radar',
    data: {
      labels: ["Africa", "Asia", "Europe", "Latin America", "North America"],
      datasets: [
        {
          label: "1950",
          fill: true,
          backgroundColor: "rgba(179,181,198,0.2)",
          borderColor: "rgba(179,181,198,1)",
          pointBorderColor: "#fff",
          pointBackgroundColor: "rgba(179,181,198,1)",
          data: [8.77,55.61,21.69,6.62,6.82]
        }, {
          label: "2050",
          fill: true,
          backgroundColor: "rgba(255,99,132,0.2)",
          borderColor: "rgba(255,99,132,1)",
          pointBorderColor: "#fff",
          pointBackgroundColor: "rgba(255,99,132,1)",
          pointBorderColor: "#fff",
          data: [25.48,54.16,7.61,8.06,4.45]
        }
      ]
    },
    options: {
      title: {
        display: true,
        text: 'Distribution in % of world population'
      }
    }
});	
</script>
</html>