@charset "UTF-8";


.logo{
	font-weight: bold;
	font-size: 30px;
}

.logo > a{
	color: #fff;
	text-decoration: none;
}

.logo > a:hover{
	color: #ff3399;
}

.navbar >.container-fluid>.collapse>.navbar-nav> .nav-item > .tab-nothing{
	pointer-events: none; /* (a링크를 비활성화 해준다.) */
    cursor: default; /* (마우스 커서를 가져갔을때의 모양을 지정하는 것으로 굳이 작성하지 않아도 된다.) */
	color: rgb(187,224,50) !important;
}

.navbar >.container-fluid>.collapse>.navbar-nav> .nav-item > .not-build {
	pointer-events: none; /* (a링크를 비활성화 해준다.) */
    cursor: default; /* (마우스 커서를 가져갔을때의 모양을 지정하는 것으로 굳이 작성하지 않아도 된다.) */
	color:rgb(255,0,0) !important;
}

.navbar >.container-fluid>.collapse>.navbar-nav>.logdiv {
	display: block;
    padding: 0.5rem 1rem;
    color: rgba(255,255,255,.55);
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}

.navbar >.container-fluid>.collapse>.navbar-nav>.logdiv> a{
    padding: 0.5rem 1rem;
    color: rgba(255,255,255,.55);
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}