@charset "UTF-8";
*:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body{
	font-family: sans-serif;
	text-transform: uppercase;
	font-size: 16px;
	margin: 0;
}

#search_area{
	padding: 5px;
	width: 210px;
}

.wrap {
	position: relative;
	width: 280px;
	height: 40px;
	margin: 0 auto;
	padding-top: 50px;
}

#autoMaker {
	width: 210px;
	height: auto;
	background: white;
	cursor: pointer;
	color: black;
}

#video {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index: -1;
	overflow: auto;
	object-fit: cover;
}

.area {
	padding-top: 100px;
	text-align: center;
	font-size: 8.5em;
  	color: #1E262D;
  	letter-spacing: -5px;
  	font-weight: 700;
  	text-transform: uppercase;
  	animation: blur 3s ease-out infinite;
  	text-shadow: 0px 0px 5px #fff, 0px 0px 7px #fff;
  	animation-iteration-count: 1;
}

@keyframes blur {
  from {
    text-shadow:0px 0px 10px #fff,
      0px 0px 10px #fff, 
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 50px #fff,
      0px 0px 50px #fff,
      0px 0px 50px #7B96B8,
      0px 0px 150px #7B96B8,
      0px 10px 100px #7B96B8,
      0px 10px 100px #7B96B8,
      0px 10px 100px #7B96B8,
      0px 10px 100px #7B96B8,
      0px -10px 100px #7B96B8,
      0px -10px 100px #7B96B8;
  }
}
